<%-include( "../Templates/header" )%>
    <link rel="stylesheet" href="../Styles/areaPersonale.css">
    <title>Area Personale</title>
    </head>

    <body>
        <%-include( "../Templates/navbar" )%>
            <%-include( "../Templates/flash" )%>
                <div class="messaggio">
                </div>
                <div class="contenitore">
                    <div class="primaRiga">
                        <div id="upgrade"><img src="/Immagini/advanced.png" alt=""></div>
                        <div id="membership"><img src="/Immagini/tappetoRosso.png" alt=""></div>
                        <div id="video">
                            <div id="videoPresentazione">
                                <iframe width="350" height="200" src="//www.youtube.com/embed/YE7VzlLtp-4"
                                    frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>

                    </div>
                </div>
                <footer>
                    <div class="my-4" id="servizi">
                        <div class="immagini my-5">
                            <div>
                                <h4>Mindset</h4><img src="/Immagini/lampadinaRossa.png" alt="">
                            </div>
                            <div>
                                <h4>Obbiettivi</h4><img src="/Immagini/lampadinaVerde.png" alt="">
                            </div>
                            <div>
                                <h4>Finanza</h4><img src="/Immagini/soldi.png" alt="">
                            </div>
                            <div>
                                <h4>Ristoranti</h4><img src="/Immagini/campanello.png" alt="">
                            </div>
                            <div>
                                <h4>Marketing</h4><img src="/Immagini/trading.png" alt="">
                            </div>
                            <div>
                                <h4>Strumenti</h4><img src="/Immagini/tastiera.png" alt="">
                            </div>
                            <div>
                                <h4>Servizio</h4><img src="/Immagini/camerieri.png" alt="">
                            </div>

                        </div>
                    </div>
                </footer>

    </body>

    </html>