<%-include( "../Templates/header" )%>
    <title>Assistenza</title>
    </head>

    <body>
        <%-include( "../Templates/navbar" )%>
            <%-include( "../Templates/flash" )%>
                <h1> Contattaci </h1>
                <a href="/areaPersonale"> Torna Indietro</a>
    </body>

    </html>