<%-include( "../Templates/header" )%>
    <title>Accademia Della Cravatta</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="Styles/landing.css">
    <link rel="stylesheet" href="Styles/cookiePolicy.css">
    </head>

    <body>

        <header>
            <h2>Logo</h2>
        </header>
        <%- include( "../Templates/flash" ) %>

            <section class="hero">

                <div class="background"></div>
                <div class="hero-content-area">
                    <h1>Accademia della Cravatta</h1>
                    <h3>Scopri quello che puoi fare con le giuste informazioni </h3>
                    <h3>Iscriviti alla nostra piattaforma e prova i nostri contenuti pillola</h3>
                </div>
                <div class="bottone">
                    <a href="/login" class="btn">ENTRA SUBITO</a>
                </div>

            </section>

            <div id="popupConsenso" class="nascosto">
                <p>Navigando in questa piattaforma accetti, <a
                        href="https://www.iubenda.com/privacy-policy/41033136/legal" target="_blank">i nostri termini e
                        condizioni,
                        privacy policy </a> e ci autorizzi all'uso di cookie.
                    Per continuare ad usare la nostra piattaforma <a id="btnAccetta" href="#">Accettare</a>
                </p>
            </div>
            <script src="../Scripts/cookiePolicy.js"></script>
    </body>

    </html>