<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Non Trovata</title>
</head>

<body style="background-image: url('../Immagini/sfondoMattoni.png');color: white;">
    <div style="display: flex; justify-content: center; flex-direction: column;align-items: center;">
        <h1 style="text-align: center;"> Pagina non trovata.</h1>
        <img src="../Immagini/ricerca.png" alt="" style="width: 30%;height: 30%;">
        <h5 style="font-size: 1.5em;">Forse cercavi ? <a href="/login"
                style="font-size: 1em; color: gold;text-decoration: none;">Login</a></h5>
    </div>


</body>

</html>