<%-include( "../Templates/header" )%>
    <link rel="stylesheet" href="Styles/paginaAccademiaCravatta.css">

    <title>Accademia della Cravatta</title>
    </head>

    <body>
        <%-include(".. /Templates/navbar")%>
            <div class="contenitore">

                <div id="accademia">
                    <h1>Accademia della Cravatta</h1>

                    <p>Vuoi davvero scalare le tue competenze e monetizzare dovunque
                        nel mondo vivendo a pieno ritmo la tua vita ?<br><br>
                        NON FARTI SFUGGIRE LA POSSIBILITA' DI FORMARTI IN SOLI 30
                        GIORNI DIVENTANDO UNA FIGURA APPREZZATA E RIERCATA DAI RISTORATORI</p>
                    <br>
                    <p>La nostra piattaforma "Metodo Cravatta" ti condurrà
                        passo dopo passo verso l'obbiettivo. Grazie ad un innovativo metodo di
                        insegnamento, ti basterà semplicemente adoperare la piattaforma per
                        ottenere velocemente risultati!
                    </p>
                    <div id="camerieri">
                        <img src="/Immagini/livelloPrincipiante.png" alt="" id="cameriere">
                        <img src="/Immagini/freccia.png" alt="" id="freccia">
                    </div>

                </div>
                <div id="esperto">
                    <div class="cornice">
                        <p class="spunta">
                            <img src="/Immagini/checkbox.png" alt="">
                            Incrementa di una cifra la tua paga, è
                            possibile anche in 60 giorni!
                        </p>
                        <p class="spunta">
                            <img src="/Immagini/checkbox.png" alt="">
                            Acquisirai competenze specifiche e richieste anche in altri mercati!
                        </p>
                        <p class="spunta">
                            <img src="/Immagini/checkbox.png" alt="">
                            Diventerai un professionista
                            apprezzato e potrai finalmente elevare
                            il tou lifestyle!
                        </p>
                        <h2>Livello Esperto</h2>

                    </div>
                </div>



            </div>

            <div id="accesso">

                <h4>COME ? registrati per scoprirlo </h4>
                <button class="btn btn-success"> Registrati !</button>
            </div>

            <h6 class="my-2">Sei già registrato? effettua il </span><a href=""> Log In !</a></h6>





            <%-include( "../Templates/bootstrap" )%>

    </body>

    </html>